.example-container {
  width: auto;
  height: 100vh;
  margin: 0;
  // border: 1px solid #555;
}

mat-drawer-content {
  padding: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.example-spacer {
  flex: 1 1 auto;
}

